
.App-header {
  background-color: beige;
position: fixed;
height: 900px;
width: 900px;


}
.nimi:hover{
  color: blue;
  font-style: italic;
  font-size: larger;
  font-style: italic;
  color: blue;
  width: fit-content;

}
.nupp:hover{
width: 300px;
height: 100px;
color: gray;
background-color: green;
cursor: grab;
position:relative


}
.pilt{
  height: 200px;
  width: 150;
  position: fixed;
  left: 780px;
}